* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
     font-family: "Momo Signature", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(-45deg, #cfb251b0, #a38e32, #3f3219ad, #b0a20cda); */
    /* background-color: rgba(113, 86, 27, 0.523); */
    background-image: url(./Zain\ mampsd.jpg);
    background-size: 100% 100%;
    animation: gradientBG 15s ease infinite;
    font-family: 'Arial Rounded MT Bold', Arial, sans-serif;
    overflow: hidden;
    position: relative;
}

.cursor {
    width: 20px;
    height: 20px;
    background: rgb(56, 40, 7);
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    mix-blend-mode: difference;
    transition: transform 0.2s;
}

.cta-button {
    position: absolute;
    bottom: 17px;
    padding: 1rem 1rem;
    font-size: 1.2rem;
    background: linear-gradient(45deg, #c09321, #e3a51e);
    border: none;
    border-radius: 50px;
    color: black;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(255, 105, 180, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
    opacity: 0;
}

.cta-button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 25px rgba(255, 105, 180, 0.7);
}

.floating {
    position: absolute;
    pointer-events: none;
    opacity: 0;
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@media (max-width: 768px) {
      body{
        background-size: cover;
    }
    h1 { font-size: 2rem; }
    .greeting { font-size: 1.2rem; }
    .cta-button { font-size: 1rem; }
  
}